<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 
For usage with DAM replace the following markers:

###SPONSOR_LOGO### -> ###SPONSOR_DAMLOGO###
###SPONSOR_PICTURES### -> ###SPONSOR_DAMPICTURES###
###CATEGORY_LOGO### -> ###CATEGORY_DAMLOGO###

 -->

###SPONSORLIST###

###SEARCHFORM###

###SPONSORS###
<table class="table table-striped">
<tr><th>&nbsp;</th><th>###LABEL_sponsor###</th><th>###LABEL_category###</th></tr>
###SPONSOR###
<tr class="t3sponsors-row###SPONSOR_ROLL###"><td>Logo:###SPONSOR_LOGO###</td><td>###SPONSOR_SHOWLINK######SPONSOR_NAME1######SPONSOR_SHOWLINK###</td>

<td>
###SPONSOR_CATEGORYS###
<ul>
###SPONSOR_CATEGORY###
<li>###SPONSOR_CATEGORY_NAME### -###SPONSOR_CATEGORY_LOGO###-</li>
###SPONSOR_CATEGORY###
</ul>
###SPONSOR_CATEGORYS###
</td>
</tr>

###SPONSOR###
</table>


###LABEL_foundSponsors### ###SPONSORCOUNT###
<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
###LABEL_page### ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
<!-- ###PAGEBROWSER### END -->

<!-- ###CHARBROWSER### begin-->
<span class="cfcleague-profilelist-pagerlink">###PB_ITEM_LINK######PB_ITEM######PB_ITEM_LINK###</span>
<span class="cfcleague-profilelist-pagersize">###PB_ITEM_LINK###(###PB_ITEM_SIZE###)###PB_ITEM_LINK###</span>
<!-- ###CHARBROWSER### end-->

###SPONSORS###


###SPONSORLIST###



###SEARCH_FORM###

<form action="###ACTION_URI###" method="GET">
<input type="hidden" name="id" value="###ACTION_PID###" />
<div class="form-group">
    <label for="t3sponsors_search">Suche</label>
    <input type="text" class="form-control" id="t3sponsors_search" name="t3sponsors[search]" placeholder="Suchbegriff">
</div>

###TRADES###
<div class="form-group">
  <label>Branche</label>

###TRADE###
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox###TRADE_LINE###" name="t3sponsors[search_trade][]" value="###TRADE_UID###"> ###TRADE_NAME###
  </label>
###TRADE###
</div>
###TRADES###
<button type="submit" class="btn btn-primary">Suche</button>
</form>
###SEARCH_FORM###


</body>
</html>