<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 
For usage with DAM replace the following markers:

###SPONSOR_LOGO### -> ###SPONSOR_DAMLOGO###
###SPONSOR_PICTURES### -> ###SPONSOR_DAMPICTURES###
###CATEGORY_LOGO### -> ###CATEGORY_DAMLOGO###

 -->


###SPONSORDETAILS###


###SPONSOR_LOGO###
<h2>###SPONSOR_NAME1###</h2>

<h3>###LABEL_description###</h3>
###SPONSOR_DESCRIPTION###

<h3>###LABEL_pictures###</h3>
###SPONSOR_PICTURES###


###SPONSOR_CATEGORYS###
<h3>###LABEL_categories###</h3>
<ul>
###SPONSOR_CATEGORY###
<li>###SPONSOR_CATEGORY_NAME###</li>
###SPONSOR_CATEGORY###
</ul>
###SPONSOR_CATEGORYS###


###SPONSORDETAILS###


</body>
</html>